{%extends "layout.html"%}
{%block title%}
Moffat Munene | Portfolio
{%endblock%}
{%block content%}

    <section id="home" class="head-main-img">

        <div class="container">
            <div class="row text-center pad-row" >
                <div class="col-md-12">
                    <h1>  MY PORTFOLIO  </h1>
                </div>
            </div>
        </div>

    </section>
    <!--/.HEADING END-->

    <section id="port-sec">
        <div class="container">
            <div class="row pad-row" >
                <div class="col-md-12 col-sm-12" >
                    <ul class="portfolio-items col-3">
                        <li class="portfolio-item">
                            <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="{{url_for('static',filename='assets/img/portfolio/thumb/t1.png')}}" alt="">
                                    <div class="overlay">
                                        <a class="preview btn btn-primary" title="Image Title Here" href="{{url_for('static',filename='assets/img/portfolio/big/b1.png')}}">VIEW PROJECT</a>
                                    </div>
                                </div>
                                <h5>Mymathkings.com</h5>
                            </div>
                        </li>
                        <li class="portfolio-item">
                            <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="{{url_for('static',filename='assets/img/portfolio/thumb/t2.png')}}" alt="">
                                    <div class="overlay">
                                        <a class="preview btn btn-primary" title="Image Title Here" href="{{url_for('static',filename='assets/img/portfolio/big/b2.png')}}">VIEW PROJECT</a>
                                    </div>
                                </div>
                                <h5>htorex.com</h5>
                            </div>
                        </li>
                        <li class="portfolio-item">
                            <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="{{url_for('static',filename='assets/img/portfolio/thumb/t3.png')}}" alt="">
                                    <div class="overlay">
                                        <a class="preview btn btn-primary" title="Image Title Here" href="{{url_for('static',filename='assets/img/portfolio/big/b3.png')}}">VIEW PROJECT</a>
                                    </div>
                                </div>
                                <h5>portfolio.com</h5>
                            </div>
                        </li>
                        <li class="portfolio-item">
                            <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="{{url_for('static',filename='assets/img/portfolio/thumb/t4.png')}}" alt="">
                                    <div class="overlay">
                                        <a class="preview btn btn-primary" title="Image Title Here" href="{{url_for('static',filename='assets/img/portfolio/big/b4.png')}}">VIEW PROJECT</a>
                                    </div>
                                </div>
                                <h5>machembehousing.com</h5>
                            </div>
                        </li>
                        <li class="portfolio-item">
                            <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="{{url_for('static',filename='assets/img/portfolio/thumb/t5.png')}}" alt="">
                                    <div class="overlay">
                                        <a class="preview btn btn-primary" title="Image Title Here" href="{{url_for('static',filename='assets/img/portfolio/big/b5.png')}}">VIEW PROJECT</a>
                                    </div>
                                </div>
                                <h5>moneymanager.com</h5>
                            </div>
                        </li>
                        <li class="portfolio-item ">
                            <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="{{url_for('static',filename='assets/img/portfolio/thumb/t6.png')}}" alt="">
                                    <div class="overlay">
                                        <a class="preview btn btn-primary" title="Image Title Here" href="{{url_for('static',filename='assets/img/portfolio/big/b6.png')}}">VIEW PROJECT</a>
                                    </div>
                                </div>
                                <h5>egyptianchef.com</h5>
                            </div>
                        </li>
                        <li class="portfolio-item ">
                            <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="{{url_for('static',filename='assets/img/portfolio/thumb/t7.png')}}" alt="" />
                                    <div class="overlay">
                                        <a class="preview btn btn-primary" title="Image Title Here" href="{{url_for('static',filename='assets/img/portfolio/big/b7.png')}}">VIEW PROJECT</a>
                                    </div>
                                </div>
                                <h5>masqani.com</h5>
                            </div>
                        </li>
                        <li class="portfolio-item ">
                            <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="{{url_for('static',filename='assets/img/portfolio/thumb/t8.png')}}" alt="" />
                                    <div class="overlay">
                                        <a class="preview btn btn-primary" title="Image Title Here" href="{{url_for('static',filename='assets/img/portfolio/big/b8.png')}}">VIEW PROJECT</a>
                                    </div>
                                </div>
                                <h5>myhrs.com</h5>
                            </div>
                        </li>
                        <li class="portfolio-item">
                            <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="{{url_for('static',filename='assets/img/portfolio/thumb/t9.png')}}" alt="" />
                                    <div class="overlay">
                                        <a class="preview btn btn-primary" title="Image Title Here" href="{{url_for('static',filename='assets/img/portfolio/big/b9.png')}}">VIEW PROJECT</a>
                                    </div>
                                </div>
                                <h5>vixens.com</h5>
                            </div>
                        </li>
                        <li class="portfolio-item">
                            <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="{{url_for('static',filename='assets/img/portfolio/thumb/t9.png')}}" alt="" />
                                    <div class="overlay">
                                        <a class="preview btn btn-primary" title="Image Title Here" href="{{url_for('static',filename='assets/img/portfolio/big/b9.png')}}">VIEW PROJECT</a>
                                    </div>
                                </div>
                                <h5>tinkeske.com</h5>
                            </div>
                        </li>
                        <li class="portfolio-item">
                            <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="{{url_for('static',filename='assets/img/portfolio/thumb/t9.png')}}" alt="" />
                                    <div class="overlay">
                                        <a class="preview btn btn-primary" title="Image Title Here" href="{{url_for('static',filename='assets/img/portfolio/big/b9.png')}}">VIEW PROJECT</a>
                                    </div>
                                </div>
                                <h5>twendepamoja.com</h5>
                            </div>
                        </li>
                        <li class="portfolio-item">
                            <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="{{url_for('static',filename='assets/img/portfolio/thumb/t9.png')}}" alt="" />
                                    <div class="overlay">
                                        <a class="preview btn btn-primary" title="Image Title Here" href="{{url_for('static',filename='assets/img/portfolio/big/b9.png')}}">VIEW PROJECT</a>
                                    </div>
                                </div>
                                <h5>pos.com</h5>
                            </div>
                        </li>
                        <li class="portfolio-item">
                            <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="{{url_for('static',filename='assets/img/portfolio/thumb/t9.png')}}" alt="" />
                                    <div class="overlay">
                                        <a class="preview btn btn-primary" title="Image Title Here" href="{{url_for('static',filename='assets/img/portfolio/big/b9.png')}}">VIEW PROJECT</a>
                                    </div>
                                </div>
                                <h5>jobmatch.com</h5>
                            </div>
                        </li>
                        <li class="portfolio-item">
                            <div class="item-main">
                                <div class="portfolio-image">
                                    <img src="{{url_for('static',filename='assets/img/portfolio/thumb/t9.png')}}" alt="" />
                                    <div class="overlay">
                                        <a class="preview btn btn-primary" title="Image Title Here" href="{{url_for('static',filename='assets/img/portfolio/big/b9.png')}}">VIEW PROJECT</a>
                                    </div>
                                </div>
                                <h5>eNSA.com</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--/. END PORTFOLIO SECTION-->
    <section  class="note-sec" >

        <div class="container">
            <div class="row text-center pad-row" >
                <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 ">
                    <i class="fa fa-quote-left fa-3x"></i>
                    <p>
                        Driven by passion and dedication, anything can be achieved. With a good team, it gets easy, with resources it gets beyond your expectations
                    </p>
                </div>
            </div>
        </div>

    </section>
    <!--/.NOTE END-->
    {%endblock%}
